.background-image-layout {
    background-image: url('https://watchbr-resources-v3.s3.sa-east-1.amazonaws.com/assets/bg/background_login.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.container-login {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 75%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    width: 50%;
}